  
.App {
    font-family: sans-serif;
    text-align: center;
}
  
button {
    background: none;
    border: 1px solid black;
    font-size: 20px;
    border-radius:5px;
}
  
  
#spin:hover {
    color: rgb(0, 180, 120);
    border-color: rgb(0, 180, 120);
}
  
#spin:focus, #reset:focus {
    outline:none;
}
  
  #reset, #spin {
    position: absolute;
    /* bottom: 10vh; */
    top: 100vh;
    right: 35vw;
    text-align: center;
  }
  
#reset:hover {
    color: red;
    border-color: red;
}
  

  
#readout {
    position: absolute;
    bottom: 7vh;
    left: 35vw;
}
  
  
#selector {
    /* top: 21vh;
    right: 47.5vw; */
    font-size: 40px;
    z-index: 3;
    position: absolute;
    top: 78vh;
    right: 47.5vw;
}
  
#result{
    font-size:50px;
    color: rgb(0, 180, 120);
}
  
input {
    font-size: 16px;
    border:none;
    border-bottom: 1px solid black;
}

/* .title {
    padding: .66rem 0;
    text-align: center;
    background-color: #cca353;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
    color: #fff;
  } */